@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe4e6; /* rose-100 */
  background-image: radial-gradient(#fecdd3 1px, transparent 1px);
  background-size: 20px 20px;
  overflow: hidden;
}

h1, .title {
  font-family: 'Sacramento', cursive;
}
